<!DOCTYPE html>
<html>
<head>
    <title>CameraObscura</title>
    <!-- <link rel="stylysheet" href=""> -->
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="/accounts/logout">Logout</a></li>
            {% else %}
                <li><a href="/accounts/register">Register</a></li>
                <li><a href="/accounts/login">Login</a></li>
            {% endif %}
        </ul>
    <nav>
    <div id="title_banner">
        <h1><a href="/">Camera Obscura</a></h1>
        <h4>Finding your friends since '16</h4>
{% block content %}
{% endblock content %}
</body>
</html>
