<html>
    <head>
        <title>Camera Obscura</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/assets/css/main.css" />
    </head>
    <body class="landing">

        <!-- Page Wrapper -->
            <div id="page-wrapper">

                <!-- Header -->
                    <header id="header" class="alt">
                        <h1><a href="/">Camera Obscura</a></h1>
                        <nav id="nav">
                            <ul>
                                <li class="special">
                                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                                    <div id="menu">
                                        <ul>
                                            <li><a href="/">Home</a></li>
                                            {% if user.is_active %}
                                            <li><a href="/profile/">Profile</a>
                                            <li><a href="/library/">Library</a>
                                            <li><a href="/accounts/logout">Log Out</a></li>
                                            {% else %}
                                            <li><a href="/accounts/register">Sign Up</a></li>
                                            <li><a href="/accounts/login">Log In</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </header>

                <!-- Banner -->
                {% block home %}
                {% endblock home %}
                {% block content %}
                {% endblock content %}

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="icons">
                            <li><a href="https://www.linkedin.com/in/richardtesmond" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            <li><a href="https://github.com/tesmonrd" class="icon fa-github"><span class="label">Github</span></a></li>
                        </ul>
                        <ul class="copyright">
                            <li>&copy; Rick Tesmond - Camera Obscura</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </footer>

            </div>

        <!-- Scripts -->
            <script src="/static/assets/js/jquery.min.js"></script>
            <script src="/static/assets/js/jquery.scrollex.min.js"></script>
            <script src="/static/assets/js/jquery.scrolly.min.js"></script>
            <script src="/static/assets/js/skel.min.js"></script>
            <script src="/static/assets/js/util.js"></script>
            <script src="/static/assets/js/main.js"></script>

    </body>
</html>
