{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<section id="two" class="wrapper alt style2">
<h1> {{user.username}}'s Library </h1>
    <header class="major">
        <center><h2>Albums</h2></center>
    </header>
    {% for album in albums %}
    <section class="spotlight">
        <div class="image">
            {% thumbnail album.cover.image_file "500x500" as im %}
            <img src="{{ im.url }}" alt="" />
            {% empty %}
            <img src="/static/images/default_kitten.jpg" alt="" />
        {% endthumbnail %}
        </div>
        <div class="content">
            <h2>{{album.album_title}}<br />
           {{album.alb_date_uploaded}}</h2>
            <p>{{album.album_description}}</p>
        </div>
    </section>
    {% endfor %}
</section>

<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Images</h2>
        </header>
        <ul class="features">
            {% for photo in photos %}
            <li>
                    <h3><a href="{% url 'photo_details' user_id=user.id photo_id=photo.id %}">{{ photo.image_title }}</a></h3>
                    <p>{{ photo.image_description }}</p>
                    {% thumbnail photo.image_file "100x100" crop="center" as im %}
                    <img src="{{ im.url }}" />
                    {% endthumbnail %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}

