{% extends "base.html" %}
{% block home %}
<section id="banner">
    <div class="inner">
        <h2>Welcome, {{user.username}}</h2>
        <p>Finding your friends<br />
        since '16<br /></p>
        <ul class="actions">
            <li><a href="/accounts/login" class="button special">Login</a></li>
            <li><a href="/accounts/register" class="button special">Register</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Learn More</a>
</section>
{% endblock home %}
